.header{
    background-color: #1F2937;
    font-family: Roboto;
    padding-bottom: 100px;
}

.header-box1{
    display: flex;
}

.header-link{
    display: flex;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 160px;
    margin-bottom: 100px;
}

.header-logo{
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 250px;
    margin-bottom: 100px;

}

.header-link, .header-text{
    font-size: 18px;
    color: #E5E7EB
}

.header-text{
    display: flex;
}

.main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-left: 150px;
    
    
}

.sub-text{
    margin-left: 150px;
}

.link{
    margin-right: 20px;
}

.image{
    background-color: #e5e7eb79;
    color:#f2f4f8;
    box-sizing: border-box;
    /* font-size: 10px; */
    margin-right: 100px;
    margin-left: 100px;
    padding: 100px 150px;
}

.btn{
    margin-left: 150px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 30px;
}

.body-title{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin: 20px 20px;
}


.body-box{
    display:flex;
    margin: 0px 550px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.frame{
    box-sizing: border-box;
    border: solid #3882F6 5px;
    height: 150px;
    width: 150px;
    margin: 10px 20px;
}
.text{
    text-align: center;
    width: 190px;
    margin: 0px 10px;
}

.the-quote{
    background-color: #E5E7EB;
}

.quote{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    padding: 100px 500px 0px 500px;
}
.author{
    font-size: 18px;
    text-align: end;
    padding-bottom: 100px;
    margin:0px 550px 0px 0px;
}

.action-box{
    display: flex;
    background-color: #3882F6;
    margin: 100px 200px;
    padding: 50px 150px;
}

.action-text{
    margin-right: 350px;
}

.call{
    font-weight: 900;
    font-size: 18px;
    color:#F9FAF8;
}

.signup{
    font-size: 18px;
    font-weight: light;
    color:#F9FAF8;
}

.footer{
    font-family: Roboto;
    background-color: #1F2937; 
    text-align: center;
    font-weight: 900;
    color: #F9FAF8;
    padding: 50px 10px;
}